
.mainnavs .navbar{
    background-color: red;
}
.texthere label{
    text-decoration: none;
    color:black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.texthere label:hover{
    font-size:1.05rem;
}